<div id="explore-container" class="slide-in-top">
    <div id="explore-box">
        <!-- COLUMN 1 -->
        <div id="row-1-col-1">
            <h1>
                YOUTUBE PLAYLIST
            </h1>
        </div>
        <div id="row-2-col-1">
            <h2>
                The CS Notebook YouTube playlist is a compilation of some of the best channels and 
                teachers available on the web delivering free, high quality educational content. Whether 
                you're looking to improve your understanding of discrete math or watch a walk-through on
                using a specific technology, you'll find it here. 
            </h2>
        </div>

        <!-- COLUMN 2 -->
        <div id="row-1-col-2">
            <h1>
                USEFUL LINKS
            </h1>
        </div>
        <div id="row-2-col-2">
            <h2>
                It makes no sense to reinvent the wheel when there is already many amazing sources of 
                information available. This section contains educational content, free resources, and 
                other interesting material. From an in-depth tutorial to aid you in fixing 
                a bug or an interesting project to provide you with some inspiration.
            </h2>
        </div>

        <!-- COLUMN 3 -->
        <div id="row-1-col-3">
            <h1>
                PLACEHOLDER STUFF
            </h1>
        </div>
        <div id="row-2-col-3">
            <h3>
                STUFFFFFFFF
            </h3>
        </div>

        <!-- COLUMN 4 -->
        <div id="row-1-col-4">
            <h1>
                READINGS
            </h1>
        </div>
        <div id="row-2-col-4">
            <h2>
                Whether you prefer a PDF version or like to take a break from the screen and continue your studies.
                This is CS Notebook's essential list of some of the most important books concerning computer science
                and its many sub-disciplines. From timeless academic texts still used in CS programs at universities
                across the globe, to must reads within certain fields.
            </h2>
        </div>

    </div>
    
</div>

