<section id="about-container" class="slide-in-top">
    <div id="about-box">
        <div id="about-text">
            <div id="left-img">
                <img class="logo" src="assets/img/csn-logo.png" alt="">
            </div>
            <div id="title">
                <img id="title-img" src="assets/img/text/about.png" alt="about text">
            </div>
            <div id="right-img">
                <img class="logo" src="assets/img/csn-logo.png" alt="">
            </div>
            <div id="info-text">
                <h1 id="text">
                    CS Notebook is a reliable learning resource and knowledge base focused on helping
                    individuals expand their understanding of the many topics involving computer science. From broad
                    programming concepts and software engineering principles, to asymptotic analysis of algorithms
                    and machine learning. CS Notebook seeks to help all users whether they be inquisitive students
                    or developing professionals. The material provided is intended to act as a stepping stone toward
                    continual growth and improving ones ability to think critically and solve problems.
                </h1>
            </div>
            
        </div>
    </div>
    
</section>

