h1{
    color: red;
    background-color: red;
}

:host{
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#flip{
    grid-row: 1;
}