<div id="title">
    <h1 class="slide-in-bck-center" style="color: #00A676;">{{name}}</h1>
</div>


<div id="description">
    <h3 class="slide-in-bck-center">
        {{this.topic.description}}
    </h3>
</div>


<div id="card-info" class="slide-in-bck-center">
    <h1 class="card-face">
        Question: {{cards[cardIndex].question}}
    </h1>
    
    <div class="card-count">
        <h1>{{cardIndex + 1}} / {{cards.length}}</h1>
    </div>
    

    <div id="source">
        <h1 class="glow-on-hover"><a style="color: whitesmoke" [href]="cards[cardIndex].link" target="_blank">SOURCE</a></h1>
    </div>
    
    <div id="learn">
        <h1 class="glow-on-hover"><a style="color: whitesmoke" href="https://www.google.com/search?q={{name}} {{cards[cardIndex].question}}" target="_blank">LEARN MORE</a></h1>
    </div>

    
    <div id="flip-div">
        <button type="button" class="button-78" role="button" id="flip" (click)=flipCard()>FLIP CARD</button>
    </div>
    
</div>


<div id="previous">
    <button class="button-78" role="button" (click)=previousCard()>LAST CARD</button>
</div>

<div id="next">
    <button class="button-78" role="button" (click)=nextCard()>NEXT CARD</button>
</div>


<!-- <div id="add-card">
    <button *ngIf="loggedIn != null" class="button-78" role="button" >ADD CARD</button>
</div>

<div id="update-card">
    <button *ngIf="loggedIn != null" class="button-78" role="button" >UPDATE CARD</button>
</div>

<div id="delete-card">
    <button *ngIf="loggedIn != null" class="button-78" role="button" >DELETE CARD</button>
</div> -->