<h1 class="slide-in-bck-center">{{name}}</h1>

<p class="slide-in-bck-center">
    {{this.topic.description}}
    <a href="https://www.google.com">test</a>
    <a [href]="cards[0].link">LINK</a>
</p>



<h1 class="card-face">
    Question: {{cards[cardIndex].question}}
</h1>

<h1 class="card-count">
    {{cardIndex + 1}} / {{cards.length}}
</h1>

<button class="button-78" role="button" (click)=previousCard()>LAST CARD</button>

<button class="button-78" role="button" (click)=flipCard()>FLIP CARD</button>

<button class="button-78" role="button" (click)=nextCard()>NEXT CARD</button>