:host{
    display: grid;
    place-items: center;
    grid-template-rows: 30vh 70vh;
}

.nav-links{
    margin: 0;
    display: grid;
    grid-template-columns: 80vw 20vw;
}
.logo{
    width: 50%;
    display: grid;
    grid-column: 1/2;
}

.img-links{
    width: 75%;
    
}

#logo-link{
    display: grid;
    grid-column: 1;
}

#login-link{
display: grid;
place-items: center;
}

#login{
    width: 60%;
}

