<section id="study-container" class="slide-in-top">
    <div id="topic-img" class="slide-in-bck-center">
        <img class="topic-logo" src="assets/img/csn-logo.png" alt="csn logo">
    </div>
    <div id="menu">
        <a routerLink="topics"><button class="button-78" role="button">FREE TOPICS</button></a>
        <button class="button-78" role="button">MY TOPICS</button>
        <button class="button-78" role="button">ADD TOPIC</button>
        <button class="button-78" role="button">UPDATE TOPIC</button>
        <button class="button-78" role="button">DELETE TOPIC</button>
    </div>
    <div id="topics">
        <router-outlet></router-outlet>
    </div>
    
</section>


