<section id="study-container" class="slide-in-top">
    <div id="topic-img" class="slide-in-bck-center">
        <img class="topic-logo" src="assets/img/csn-logo.png" alt="csn logo">
    </div>
    <div id="menu">
        <a routerLink="topics"><button class="button-78" role="button">FREE TOPICS</button></a>
        <button *ngIf="loggedIn != null" class="button-78" role="button" [routerLink]="['/study/myTopics']">MY TOPICS</button>
        <button *ngIf="loggedIn != null" class="button-78" role="button" [routerLink]="['/study/addTopic']">ADD TOPIC</button>
        <button *ngIf="loggedIn != null" class="button-78" role="button" [routerLink]="['/study/updateTopic']">UPDATE TOPIC</button>
        <button *ngIf="loggedIn != null" class="button-78" role="button" [routerLink]="['/study/deleteTopic']">DELETE TOPIC</button>
    </div>
    <div id="topics">
        <router-outlet></router-outlet>
    </div>
    
</section>


