:host{
    display: grid;
    grid-row: 2;
}

h1{
    color: red;
}

#study-container{
    display: grid;
    grid-row: 2;
    width: 97vw;
    height: 65vh;
    background-color: #1B1E24;
    border: 5px solid #00A676;
    /* LAYOUT */
    grid-template-columns: ;
}