:host{
    display: grid;
    grid-row: 2;
}
#study{
    width: 100%
}

#about{
    width: 100%
}

#explore{
    width: 100%;
    display:grid;
    place-items: center;
}

#img-links{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-items: right;
}

#menu-container{
    margin: 0;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-row: 2;
    
}

#menu{
    display: grid;
    place-items: center;
}

.img{
    border: 2px solid transparent;
    
}


ul{
    display: grid;
    place-items: center;
}
li{
    margin-bottom: 10%;
    list-style-type: none;
    border-radius: 10%;
}


