<div id="menu-container" class="slide-in-top">
    <ul>
        <li class="glow-on-hover">
            <a routerLink="/explore"><img class="img" id="explore" src="assets/img/text/explore.png" alt=""></a>
        </li>
        <li class="glow-on-hover">
            <a routerLink="/study"><img class="img" id="study" src="assets/img/text/study.png" alt=""></a>
        </li>
        <li class="glow-on-hover">
            <a routerLink="/about"><img class="img" id="about" src="assets/img/text/about.png" alt=""></a>
        </li>
    </ul>    
</div>

